<!-- <h1>Este es mi portafolio</h1>

<h2>Soy Santiago Barajas
  <br>
  Estudiante de Ingenieria de Sistemas
  <br>
  7mo semestre
</h2> -->

<div class="header">
  <h1>Santiago Barajas</h1>
  <p>Estudiante de Ingeniería de Sistemas</p>
</div>

<div class="container">
  <section id="about">
    <h2>Sobre Mí</h2>
    <p>Hola, soy Santiago Brajas, estudiante de Ingeniería de Sistemas apasionado por la 
      tecnología y el desarrollo de software. Me encanta aprender nuevas habilidades y aplicar 
      mis conocimientos para resolver problemas complejos.</p>
  </section>

  <section id="education">
    <h2>Educación</h2>
    <p>Actualmente estoy estudiando Ingeniería de Sistemas en la Pontificia Universidad Javeriana. 
       Estoy adquiriendo conocimientos en áreas como programación, bases de datos, redes y sistemas operativos.</p>
  </section>

  <section id="skills">
    <h2>Habilidades</h2>
    <ul>
      <li>Programación en Python, Java y C++</li>
      <li>Desarrollo web con HTML, CSS y JavaScript</li>
      <li>Gestión de bases de datos con SQL</li>
      <li>Conocimientos en redes y seguridad informática</li>
    </ul>
  </section>
</div>


